<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/pico.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Magic Plugins dashboard</title>
</head>
<style>
    #header-navbar {
        padding-top: 3.14%;
        padding-left: 6.18%;
    }
    #page-content-wrapper {
        margin-left: 200px;
        padding: 1px 16px;
        height: 1000px;

    }
    #sidebar {
        mso-padding-top-alt: 0;
        width: 200px;
        position: fixed;
        height: 100%;
        overflow: auto;

    }
</style>
<body>
<div id="header-navbar">
        <h1>Bruce0203의 리소스</h1>
</div>
<style>
    #inner-content * /*:not(#ignore-inner-content)*/ { }
</style>
<div id="sidebar">
    <article>
        <nav>
            <div id="inner-content">
                <ul>
                    <li>
                        <kbd>asd</kbd>
                    </li>
                </ul>
            </div>
        </nav>
    </article>

</div>

<div id="page-content-wrapper">
    <article>
        <nav>
            <div id="inner-content">
                <ul>
                    <li>
                        <strong id="ignore-inner-content">EssentialsM</strong>
                        <br>
                        <kbd></kbd>
                    </li>
                </ul>
            </div>
            <ul>
                <a href="#confirm" role="button">관리하기</a>
            </ul>
        </nav>
    </article>
</div>
</body>
</html>
