<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dashboard</title>
</head>
<template class="card">
    <li style="list-style-type: none;">
        <article class="card">
            <h3 class="name">EssentialsM</h3>
            <footer>
                <a class="manage-button" href="#" role="button">관리하기</a>
            </footer>
        </article>
    </li>
</template>
<template></template>
<body>
<header>
    <article class="navbar">
        <h1 id="origin-title"></h1>
        <h2>Bruce0203의 리소스</h2>
    </article>
</header>
<div class="grid">

    <section>
        <hgroup>
        </hgroup>
        <div id="page-content-wrapper">
            <div id="plugins">
                <ul class="list">
                </ul>
                <ul>
                </ul>
            </div>
            <hr>
        </div>
    </section>


</div>

<footer class="container" style="padding-top: 10%">
    <small>Made by <a href="https://github.com/Bruce0203">Bruce0203</a> • <a href="https://github.com/MagicPluginTeam">Home page</a></small>
</footer><!-- ./ Footer -->



</body>
<script>
    let list = document.querySelector(".list")
    let card = document.querySelector(".card").content
    const array = [ "EssentialsM", "MiniGamePack" ]
    array.forEach(e => {
        let clone = card.cloneNode(true)
        clone.querySelector(".name").textContent = e
        let btn = clone.querySelector('li article footer .manage-button');
        if (btn.addEventListener)
            btn.addEventListener("click", function() { manageButton(e) }, false);
        else if (btn.attachEvent)
            btn.attachEvent('onclick', function() { manageButton(e) });
        clone.className = `Plugin-${e}`
        list.appendChild(clone)
    })

    function manageButton(e) {
        document.querySelector("#page-content-wrapper").style.display = "none"
    }

    function backToPlugins() {
        document.querySelector("#page-content-wrapper").style.display = "block"
    }
</script>

<style>

    .navbar {
        margin: 0;
        line-height: 0;
    }
    body {
        transform: translateY(-5%);
    }
    #page-content-wrapper {
        padding-left: 15%;
        padding-right: 15%;
    }
    li * {
        list-style-type: none;
    }
    ul li {
        float: left;
        display: inline-block;
        width: 100%;
    }
    h1, h2, h3 {
        padding: 0;
        margin: 0;
        line-height: 0;
    }
    .card {
        margin: 5%;
    }

</style>

