<body>
<div class="split header">
    <h1>hello</h1>
</div>

<div class="split footer">
    <h1>
        I am Lee JongWon
    </h1>
</div>

<div class="split baby">
    <h1>
        Nicy
    </h1>
</div>
</body>

<style>

    .baby {
        top: 0;
        background-color: red;

    }

    .header {
        left: 0;
        background-color: red;
    }

    .footer {
        right: 0;
        background-color: yellow;
    }


    .split {
        width: 33%;
        position: fixed;
    }



</style>